*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
} otra técnica de dejar abajo el footer */
/*main */
main{
  min-height: 60vh;
  max-height: fit-content; /*deja abajo el footer */
}
/*Error 404 */
.error404{
  width: 75%;
  height: 350px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  border: 2px solid black;
}
.error404 .img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
}
.error404 .img img{
  width: 90%;
  height: 100%;
}
.error404 .info{
  width: 100%;
  height: 100%;
}
.error404 .info h2{
  font-size: 2rem;
  margin-top: 40px;
}
.error404 .info p{
  font-size: 1.7rem;
}